@import '../../../main.scss';


.clouds {
    width: 200x;
    height: 300px;
    position: absolute;
  }
  
  .cloud1 {
      top: 10px;
    z-index: 100;
    fill: #ababab;
    /* Animation shorthand syntax order: name, duration, timing-function, delay, iteration-count, direction, fill-mode */
    -webkit-animation: move 25s linear infinite;
    -moz-animation: move 25s linear infinite;
    -o-animation: move 25s linear infinite;
    animation: move 25s linear infinite;
  }
  
  .cloud2 {
      top: 140px;
    z-index: 200;
    fill: #cccccc;
    -webkit-animation: move 35s linear 10s infinite backwards;
    -moz-animation: move 35s linear 10s infinite backwards;
    -o-animation: move 35s linear 10s infinite backwards;
    animation: move 35s linear 10s infinite backwards;
  }

  .cloud3 {
      top: 350px;
    z-index: 300;
    fill: #eee;
    -webkit-animation: move 40s linear 15s infinite backwards;
    -moz-animation: move 40s linear 15s infinite backwards;
    -o-animation: move 40s linear 15s infinite backwards;
    animation: move 40s linear 15s infinite backwards;
  }
  
  @-webkit-keyframes move {
    from {-webkit-transform: translateX(-400px);}
    to {-webkit-transform: translateX(1350px);}
  }
  
  .background {
	width: 100%;
  height: 700px;
  position: relative;
  background-size: 100% 100%;
}