@import '../../main.scss';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:wght@300&family=Kdam+Thmor+Pro&family=Press+Start+2P&family=Shadows+Into+Light&display=swap');


.footer {
    height: 40vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    top: -200px;

    &__content {

        display: flex;
        width: 100%;
        height: 100%;
    }

    &__title {
        font-size: 30px;
        width: 90%;
        color: $color-5;
    }

    &__left {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
    }

    &__link {
        width: 3rem;
        height: 3rem;

        &:hover {
            filter: drop-shadow(0 0 0.5em #0FE4A4);
        }
    }

    &__end {
        margin-left: 35%;
        margin-right: 35%;
    }
}

.contact__number {
    color: $color-5;
    font-family: 'Kdam Thmor Pro', sans-serif; 
    font-size: 25px;
    padding: 20px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .footer {
        height: 100%;
        top: 0;
    }

    .footer__content {
        flex-direction: column;
    }

    .footer__left {
        width: 100%;
    }

    .footer__right {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer__nav {
        width: 100%;
        justify-content: space-around;
    }

    .footer__link {
        width: 2rem;
        height: 2rem;
    }

    .footer__end {
        margin-left: 0;
        margin-right: 0;
    }

    .contact__number {
        font-size: 20px;
    }
 }